.home {
    width: 100%;
    background: linear-gradient(180deg, #020202 0%, #0C1336 30.21%);
    min-height: 90vh;
    display: flex;

    .ads {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding-top: 35px;
        padding-right: 20px;
        padding-left: 50px;
    }


    .container {
        width: 100%;
    }

    .header {
        display: flex;

        h2 {
            color: white;
            max-width: 297px;
            font-family: var(--font-secondary);
            padding: 50px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .images {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;

            .logo {
                width: 455.625px;
                height: 401.136px;
            }

            .logoPhone {
                display: none;
            }

            .coin {
                margin-top: -300px;
                width: 97.151px;
                height: 115.864px;
            }
        }
    }
}

@media (max-width: 780px) {
    .home {
        background: #e9e9e9;
        .ads {
            display: none;
        }

        .header {
            width: 100%;
            h2 {
                display: none;
            }

            .images {
                width: 100%;
                padding-top: 41px;
                background: #002aad;
                .logo {
                    display: none;
                }

                .coin {
                    display: none;
                }

                .logoPhone {
                    display: block;
                    max-width: 100%;
                    max-height: 800px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}