.card {
    width: 340px;
    height: 313px;
    border-radius: 20px;
    padding: 20px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .header {
        display: flex;
        justify-content: space-between;

        .name {
            color: #000;
            font-family: var(--font-primary);
            font-size: 12px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        .segment {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20.728px;
            margin-right: 5px;
            background: #384794;
            border-radius: 10px;

            p {
                color: #FFF;
                padding: 10px;
                font-family: var(--font-three);
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 10px;

        flex-direction: column;
        color: #000;
        font-family: var(--font-primary);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .discount{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0px;
            .text{
                width: 250px;
            }
        }

        .service{
            max-width: 300px;
        }

        .logo {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: right;
            align-items: right;

            img {
                max-width: 150.017px;
                max-height: 50.659px;
            }
        }

        a {
            color: #000;
            font-family: var(--font-primary);
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .title {
            font-weight: 700;
            margin-top: 5px;
        }

        div {
            p {
                margin-top: 5px;
            }

            margin-bottom: 5px;
        }

        .contact {
            max-width: 200px;
            .social {
                margin-top: 10px;
            }
        }
    }

    .buttons {
        display: flex;
        margin-top: -100px;
        align-items: right;
        justify-content: right;

        .wpp {
            margin-right: 11px;

            i {
                color: #119517;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .map,
        .wpp {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            width: 42.963px;
            height: 41.457px;
            background-color: #FFF;
            border-radius: 100%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:hover{
                filter: brightness(75%);
            }
        }

        .map {
            i {
                color: #ff0101;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }
    }
}

@media (max-width: 780px) {
    .card {
        background-color: white;
    }
}

@media(max-width: 430px) {
    .card {
        width: 80%;
        height: 100%;
        min-height: 313px;
        .buttons{
            margin-top: -30px;
        }
    }
}