.footer {
    width: 100%;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    font-family: var(--font-primary);

    .text {
        max-width: 280px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        h3 {
            line-height: 18px;
            color: #0C1336;
        }

        p {
            color: #1B1D24;
            padding-top: 30px;
        }
    }

    .logo {
        padding: 8px;

        img {
            width: 166px;
            height: 156px;
        }
    }

    .support {
        height: 100%;
        width: 280px;
        margin-top: 40px;
        margin-right: 20px;

        h3 {
            color: #1E1E1E;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .button-normal,
        .button-phone {
            cursor: pointer;
            border: none;
            display: flex;
            margin-top: 32px;
            align-items: center;
            padding: 5px;
            width: 100%;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            &:hover{
                filter: brightness(75%);
            }

            i {
                margin-left: 10px;
                color: #119517;
                font-size: 40px;
            }

            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 32px;
                color: #0C1336;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .button-phone {
            display: none;
        }

        .rights {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-top: 23px;
            padding-bottom: 8px;
            color: white;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            .developer {
                color: #384794;
                margin-left: 5px;

                &:hover{
                    filter: brightness(75%);
                }
            }
        }

    }
}

@media (max-width: 780px) {
    .footer {
        .logo,
        .text {
            display: none;
        }

        .support {
            min-width: 98%;
            padding-top: 22px;

            .container {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;

                h3 {
                    max-width: 211px;
                    padding-left: 5px;
                }

                .button-phone {
                    display: flex;
                    margin-top: 0;
                    max-width: 173px;
                    width: 100%;
                    padding: 10px;
                    i{
                        margin-left: 5px;
                    }
                    h3 {
                        margin-left: 5px;
                    }
                }

                .button-normal {
                    display: none;
                }
            }

            .rights {
                min-width: 100%;
                margin-left: 0;
            }
        }
    }
}