@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
	--font-primary: 'Lato';
	--font-secondary: 'Montserrat';
    --font-three: 'Montserrat Alternates'
}

body{
	overflow-x: hidden;
	
}